!@
{% extends 'base/base.html' %}
{% load static %}
{% block title %}
    {{ page_name }}
{% endblock title %}

{% block pagetitle %}
    <div class="pagetitle">
        <h1>
            {{ page_name }}
        </h1>
        <nav>
            <ol class="breadcrumb Active">
                <li class="breadcrumb-item">
                    <a href="{% url 'home' %}">
                        Inicio
                    </a></li>

            </ol>
        </nav>
    </div>

{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        {% block cardtitle %}
                            {{ page_name }}
                        {% endblock %}</h5>

                    Welcome {{ user.username }}!
<p>
    <iframe title="proy" width="1024" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiNDkyMWVlNWEtZDFjNS00MmUwLTgzOTItOWIwMGNlZDQzODQ5IiwidCI6ImRhNTlhY2VkLTEwZWYtNGY4Yi1hMmQ4LTY4YTNjZTZiYzdmMSIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>
</p>

               </div>
            </div>
        </div>
    </div>

{% endblock content %}