!@
{% extends 'base/base.html' %}
{% load static %}
{% block title %}
    {{ page_name }}
{% endblock title %}

{% block pagetitle %}
    <div class="pagetitle">
        <h1>
            {{ page_name }}
        </h1>
        <nav>
            <ol class="breadcrumb Active">
                <li class="breadcrumb-item">
                    <a href="{% url 'home' %}">
                        Inicio
                    </a></li>

            </ol>
        </nav>
    </div>

{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        {% block cardtitle %}
                            {{ page_name }}
                        {% endblock %}</h5>

                    Welcome {{ user.username }}!


<iframe title="mongo-test" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiMDAyMzBjM2MtNTIwNy00MjY2LWE0ZDItZmM1NzI0OWQwYWQ4IiwidCI6Ijc3NDBmOWIzLWU4NmMtNGI5ZC04ZTEwLThlYmJiNDAyMDBhMCIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}