{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    {% include 'base/css.html' %}

    {% block extracss %}
    {% endblock %}
</head>
<body>
{% include 'base/header.html' %}
{% include 'base/sidebar.html' %}


<main id="main" class="main">
    {% block pagetitle %}
    {% endblock %}
    <!-- End Page Title -->

    <section class="section">
        {% block content %}

        {% endblock %}
    </section>

</main>

{% include 'base/js.html' %}
</body>
</html>